Package: apt2sfs
Maintainer: fredx181 dog@root.nl
Architecture: i386
Version: 1.1.1
Installed-Size: 72 
Depends: libc6, x11-utils, x11-xserver-utils, findutils, yad, unionfs-fuse, coreutils, menu, mount, procps, sed, squashfs-tools, apt, xterm, gsu | gksu
Description: Warning - This package works only in DebianDog! Fix: Force being user 'root' in chroot, otherwise installing might fail (for example when running with new created user).  
 Fix: version 1.0.4 (and earlier) doesn't work well because of 'stable' entry in /etc/apt/sources.list after jessie became stable at 2015-04-25.
 .
 Fix after version 1.0.3: added option to choose location / or /tmp for working directory (in case you have only vfat or ntfs partitions available).
 For creating a *.squashfs module from installing by apt-get
 The installing takes place outside of the running system, in 'chroot'
 - apt2sfs, GUI using yad
 - apt2sfs-fullinst, GUI using yad, can be used on a full install
 - Choice dialog now for compression algorthim: xz, gz or lz4
 - Output from apt-get through xterm (instead using yad in previous versions)
 Fix in v 1.1.0: skip symlinks while cleaning man and doc files


















