Package: portablesfs-loadsfs-fuse
Maintainer: fredx181 dog@root.nl
Architecture: all
Version: 1.0.6
Installed-Size: 87 
Depends: libc6, yad, unionfs-fuse, gsu | gksu, linux-user-chroot, squashfuse, aufs-tools, lsof
Description: Load a *.squashfs or *.sfs module.
 Changes in v 1.0.3:
 When logged in as unprivileged user, no password is required to run portable sfs script with 'Chroot Mode'
 Same for activating a .squashfs module with loadsfs-fuse.
 - portablesfs creates a portable script to activate *.squashfs or *.sfs module
 (changed in v 1.0.2: added (optional) choice to enter a command that will be executed directly when running created portable script, instead of showing 'Applications' menu)  
 - loadsfs-fuse activates a provided *.squashfs or *.sfs module from the commandline or:
 by drag and drop (can be used on a full install).
 - loadsfs-fuse-writesfs: basically the same as loadsfs-fuse but it leaves no traces in / (rootfs), instead it writes the config files (or any other) that a program creates to: /root/<name_of_module> directory  
 Changes in v 1.0.5:
 - kill processes which are keeping from proper unmounting (might be needed in some cases for SFS-load mode)
































