Package: remaster-scripts
Maintainer: fredx181 dog@root.nl
Architecture: all
Version: 1.0.7
Installed-Size: 57
Depends: libc6, yad, coreutils, menu, squashfs-tools, mount, sed, xterm, rsync, dpkg, findutils, procps, gsu | gksu
Description: Warning - This package works only in DebianDog! In ver. 1.0.3 fixed progress bar bug for very old PC.
 .
 For creating a *.squashfs module from changes (from /live/cow directory) or full system remaster (from / directory).
 Fix in v 1.0.6: skip symlinks while cleaning man and doc files








